soong/generators/core/configuration/org.eclipse.osgi/.manager/.fileTable.*
soong/generators/core/configuration/org.eclipse.osgi/.manager/.fileTable.3
soong/generators/core/configuration/org.eclipse.osgi/framework.info.*
soong/generators/someip/configuration/org.eclipse.core.runtime/.contributions.*
soong/generators/someip/configuration/org.eclipse.core.runtime/.contributors.*
soong/generators/someip/configuration/org.eclipse.core.runtime/.extraData.*
soong/generators/someip/configuration/org.eclipse.core.runtime/.mainData.*
soong/generators/someip/configuration/org.eclipse.core.runtime/.manager/.fileTable.*
soong/generators/someip/configuration/org.eclipse.core.runtime/.manager/.fileTableLock
soong/generators/someip/configuration/org.eclipse.core.runtime/.namespaces.*
soong/generators/someip/configuration/org.eclipse.core.runtime/.orphans.*
soong/generators/someip/configuration/org.eclipse.core.runtime/.table.*
soong/generators/someip/configuration/org.eclipse.equinox.app/.manager/.fileTableLock
soong/generators/someip/configuration/org.eclipse.osgi/.manager/.fileTable.*
soong/generators/someip/configuration/org.eclipse.osgi/.manager/.fileTableLock
soong/generators/someip/configuration/org.eclipse.osgi/framework.info.*

conan/capicxx-cmake-modules/CMakeUserPresets.json
conan/capicxx-cmake-modules/build/
conan/capicxx-core-runtime/bld/
conan/capicxx-core-runtime/src/
conan/example-app/CMakeUserPresets.json
conan/example-app/build/

conanbuild.sh
conanbuildenv-release-x86_64.sh
conanbuildenv-relwithdebinfo-armv8.sh
conanrun.sh
conanrunenv-release-x86_64.sh
conanrunenv-relwithdebinfo-armv8.sh
deactivate_conanbuild.sh
deactivate_conanrun.sh
